body{
	background-color: #23314b;
	font-family: Helvetica;
	color: #404040;
}

body a{
	text-decoration: none;
}

.site-container{
	margin: 0 auto;
	width: 80%;
	//border: 2px solid rgb(179, 179, 179, 0.5);
	padding: 40px;
	height: 100vh;
	background-color: #f0f0f0;
	overflow: auto;		
}

#intro{
	margin-bottom: 50px;
}

#intro h1{
	color: #ff5050;
}

#menu{
	display: flex;
}

.admin-options{
	width: 15%;
}

.admin-options > a{
	width: 80%;
	border-style: solid;
	border-color: #b3b3b3;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	background-color: white;
}

.admin-options img{
	width: 70%;
	height: auto;
	//border-style: solid;
	//border-color: #eeeeee;
	margin-left: auto;
	margin-right: auto;
}

.admin-options p{
	text-align: center;
	color: #404040;
}

#option-content{
	border: 2px solid rgb(179, 179, 179, 0.5);
	margin-top: 20px;
}

#cont-header{
	background-image: linear-gradient(to right, #b3daff, white);
	padding: 10px;
	border-bottom: 1px solid rgb(179, 179, 179, 0.5);
}

#cont-body{
	padding: 10px;
	background-color: white;
	//height: 200px;
	height: 50%;
	//overflow-y: auto;	
}

#cont-body > p{
	color: #ff5050;
	text-align: center;
}


#del-users-page table{
	width: 100%;
	border-collapse: collapse;
}

#del-users-page tr:nth-child(even) {
	background-color: #f2f2f2;
}

#del-users-page th, td {
	padding: 15px;
	text-align: left;
}

#admin-form-container{
	width: 50%;
	display: inline-block;
}

#admin-form input[type=text], input[type=password]{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

#admin-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}